{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Books To Buy</h1>
  <p class="text-warning">
    This is our inventory
  </p>

  <div class="jumbotron">

  </div>
  <hr>
  What book are you looking for?: <input type="text" width="40" name="age"> <br>
  Course:
  <textarea name="bio"></textarea>
  <br>
  What kind of condition?
  <select name="waittime">
    <option>no line</option>
    <option> brand new </option>
    <option> used </option>
    <option> very used! </option>
    <option> old in good condition! </option>
  </select>
  <br>
  <input type="submit">
  <div >
  Here is what we have....
  <ul>
    <li>Organic Chem 30$ like new</li>
    <li>Robert Frost 30$ bad condition</li>

  </ul>

  <button class="btn btn-lg btn-primary">
   Register as a buyer
  </button>




  </div>




{% endblock %}
