{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Elevator Pitch and Brand </h1>
  <p class="text-warning">
  <h1>the best prices</h1>
  </p>
</div>
<div class="text-center">
  Elevator Pitch: BookXx is an online site that allows you to buy, sell, and rent books.
  It is exclusively for Brandeis students. You eliminate the stress of amazon or buying books from the book store.
  You can just find this book right on campus and avoid the wait of online shipping.
  Brand Promise: We promise to help college be a little less stressful. Books are exspenvise but extremely essential.
  Through this site we will help you find books that are cheap and quicker to obtain.


</div>

{% endblock %}
