{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1> Book Rentals </h1>
  <p class="text-warning">

  </p>
</div>

<form method="GET" action="processBook">

  Your name : <input type="text" width="30"> <br>
  Your age :<input type="text" width="20"<br>


  <div class="text">
    <h1> Inventory </h1>
    <h1> Book Conditions </h1>
    <h1> Prices </h1>
    <h1> Catagories </h1>
  </div>
  <div >

  <ul>
    <li> Math Calculus - good $34.99 </li>
    <li> American History - excelent $59 </li>
    <li> Biology - nice $24 </li>
  </ul>

  <button class="btn btn-lg btn-primary">
   Register
  </button>

  <hr>
  Book Title <input type="text" width="40" name="title"> <br>

  Book Conditions <input type="text" width="40" name= "good, new, used " <br>

  <textarea name=""></textarea>


  <br>
  Book waittime:
  <select name="waittime">
    <option> none </option>
    <option> 5 minutes </option>
    <option> 10 minutes </option>
    <option> 15 minutes </option>
  </select>
  <br>
  <input type="submit">

</form>







{% endblock %}
