{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Books To Sell</h1>
  <p class="text-warning">
    This is our inventory
  </p>
</div>


  <div class="jumbotron">
    <button class="btn btn-lg btn-primary">
     Register as a seller
    </button>
  </div>
  <div >
  Here is where we learn how to create HTML elements....
  <ul>
    <li>Organic Chem 30$ like new</li>
    <li>Robert Frost 30$ bad condition</li>

  </ul>



  <hr>
  Your book: <input type="text" width="40" name="age"> <br>
  Your personal information:
  <textarea name="bio"></textarea>
  <br>
  How long is the wait?
  <select name="waittime">
    <option>no line</option>
    <option> under 5 minutes </option>
    <option> 5-10 minutes </option>
    <option> more than 10 minutes </option>
  </select>
  <br>

  <input type="submit">


  </div>




{% endblock %}
